/* fonts */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* common shared styles */

    .shared-button {
        background-color: #006a50;
        border: none;
        border-radius: 8px;
        font-family: "Fira Sans";
        color: white;
        font-weight: semibold;
        font-size: 16px;
        padding: 30px 15px;
    }

    .section-title {
        font-family: "Fira Sans";
        font-size: 40px;
        font-weight: bold;
        color: #0e0e0e;
    }

    .paragraph {
        font-family: "Fira Sans";
        font-size: 16px;
        font-weight: regular;
        color: rgba(14, 14, 14 , 70%);
    }

/* nav section */

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;    
}
.nav-button {
    background-color: white;
    border: 1px solid #006a50;
    border-radius: 8px;
    font-family: "Fira Sans";
    color: #006a50;
    font-weight: semibold;
    font-size: 16px;
    padding: 30px 15px;
}

/* main section */

main {
    margin-left: 160px;
    margin-right: 160px;
}

/* banner section */

banner {
    
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    padding: 80px 60px;
    width: auto;
    height: auto;

}

.banner-h1 {
    font-family: "Fira Sans";
    font-size: 56px;
    font-weight: bold;
    color:black;
}

.banner-p {
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: medium;
    color: rgba(14, 14, 14 , 50%);
}

/* Vision of Future */

.card-container {
    display: flex;
    gap: 20px;    
}


.card-1 {
    width: 410 px;
    height: 325 px;
    padding: 32px 32px;
    background-color: rgba(84,144, 245, 20%);
    border-radius: 16px;
}

.card-2 {
    width: 410 px;
    height: 325 px;
    padding: 32px 32px;
    background-color: rgba(198,228, 214, 100%);
    border-radius: 16px;
}

.card-3 {
    width: 410 px;
    height: 325 px;
    padding: 32px 32px;
    background-color: rgba(247,235, 207, 100%);
    border-radius: 16px;
}

.LM1 {
    border: none;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: semi-bold;
    color: #ffffff;
    text-align: center;
    background-color: #5490f5;
    ;
    
    
}

.LM2 {
    border: none;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: semi-bold;
    color: #ffffff;
    text-align: center;
    background-color: #09a15c;
    ;
    
    
}

.LM3 {
    border: none;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: semi-bold;
    color: #ffffff;
    text-align: center;
    background-color: #ffc239;
    ;
    
    
}

/* Yunus section */

.yunus {
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left center;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    content gap: 10px;
}